.title {
  font-size: 32px;
  font-weight: 700;
}

.tree-search {
  text-align: center;
}

.tree-search-image {
  height: 136px;
  width: 259px;
}

.heading {
  display: block;
  font-size: 18px;
  margin-top: 16px;
  margin-bottom: 16px;
  font-weight: bold;
}

.code {
  color: rgb(102, 0, 0);
  font-family: Verdana, Arial, Helvetica, sans-serif;
}
